Repository hmcts/document-management-store-app, pull requests merged in 2019-10, with the labels that each got.

#386 Add health starter dependency
  application/build.gradle
Labels: ns:dm-store-pr-386

#358 bump up base chart version
  charts/dm-store/requirements.yaml
Labels: ns:dm-store-pr-358

#390 Update Java and AI prep for AKS migration
  Dockerfile
  Jenkinsfile_CNP
  charts/dm-store/Chart.yaml
  charts/dm-store/requirements.yaml
  charts/dm-store/values.preview.template.yaml
  charts/dm-store/values.yaml
  config/owasp/dependency-check-suppressions.xml
  web.config
Labels: ns:dm-store-pr-390

#368 em-2000
  Jenkinsfile_CNP
  application/build.gradle
  application/src/main/java/uk/gov/hmcts/dm/controller/StoredDocumentDeleteController.java
  application/src/main/java/uk/gov/hmcts/dm/controller/testing/TestController.java
  application/src/main/java/uk/gov/hmcts/dm/service/BlobStorageDeleteService.java
  application/src/main/java/uk/gov/hmcts/dm/service/BlobStorageReadService.java
  application/src/main/java/uk/gov/hmcts/dm/service/StoredDocumentService.java
  application/src/main/resources/application.yaml
  application/src/test/java/uk/gov/hmcts/dm/componenttests/ComponentTestBase.java
  application/src/test/java/uk/gov/hmcts/dm/controller/testing/TestControllerTest.java
  application/src/test/java/uk/gov/hmcts/dm/endtoend/End2EndTestBase.java
  application/src/test/java/uk/gov/hmcts/dm/service/BlobStorageDeleteServiceTest.java
  application/src/test/java/uk/gov/hmcts/dm/service/BlobStorageReadServiceTest.java
  application/src/test/java/uk/gov/hmcts/dm/service/StoredDocumentServiceTests.java
  functionalTests/build.gradle
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/BaseIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/CreateDocumentIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/DeleteDocumentIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/utilities/V1MimeTypes.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/utilities/V1MimeTypes.java
  functionalTests/src/functionalTest/resources/application-functional-test.properties
  functionalTests/src/functionalTest/resources/bootstrap.yaml
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  smokeTests/src/smokeTest/groovy/uk/gov/hmcts/dm/smoke/MappingUrlIT.groovy
  smokeTests/src/smokeTest/resources/application-smoke-test.yaml
Labels: ns:dm-store-pr-368

#396 Moved swagger build to jenkins files from travis
  .travis.yml
  Jenkinsfile_CNP
Labels: ns:dm-store-pr-396

#399 Em 2240 gradle upgrade
  application/build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:dm-store-pr-399
