Repository hmcts/document-management-store-app, pull requests merged in 2019-11, with the labels that each got.

#405 Move vault dm
  Jenkinsfile_CNP
  application/src/main/resources/bootstrap.yaml
  charts/dm-store/Chart.yaml
  charts/dm-store/values.yaml
Labels: ns:dm-store-pr-405

#411 Fix pod identity name
  application/src/main/resources/bootstrap.yaml
  charts/dm-store/values.yaml
Labels: ns:dm-store-pr-411

#413 move secrets to vault for aat
  charts/dm-store/values.preview.template.yaml
  charts/dm-store/values.yaml
Labels: ns:dm-store-pr-413

#414 set aat database host
  charts/dm-store/values.preview.template.yaml
  charts/dm-store/values.yaml
Labels: ns:dm-store-pr-414

#417 Move secrets2
  application/src/main/resources/bootstrap.yaml
  charts/dm-store/values.aat.template.yaml
  charts/dm-store/values.preview.template.yaml
  charts/dm-store/values.yaml
Labels: ns:dm-store-pr-417

#418 Bump java chart version to use ingressClass feature
  Jenkinsfile_CNP
  charts/dm-store/Chart.yaml
  charts/dm-store/requirements.yaml
Labels: ns:dm-store-pr-418

#419 bump version
  Jenkinsfile_CNP
  application/src/main/resources/bootstrap.yaml
  charts/dm-store/Chart.yaml
Labels: ns:dm-store-pr-419

#421 change pwd to VAR disable DB migrate
  charts/dm-store/values.aat.template.yaml
  charts/dm-store/values.preview.template.yaml
  charts/dm-store/values.yaml
Labels: ns:dm-store-pr-421

#423 test secrets in PR
  application/src/main/resources/bootstrap.yaml
  charts/dm-store/values.aat.template.yaml
  charts/dm-store/values.preview.template.yaml
Labels: ns:dm-store-pr-423

#426 Disable postgres blob storage
  application/src/main/resources/application.yaml
  application/src/test/resources/application-local.yaml
  charts/dm-store/values.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:dm-store-pr-426

#427 migrate DM-store to aat
  charts/dm-store/values.aat.template.yaml
  charts/dm-store/values.preview.template.yaml
Labels: ns:dm-store-pr-427

#435 Em 2109 aks migration luigi
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  application/src/main/resources/bootstrap.yaml
  charts/dm-store/requirements.yaml
  charts/dm-store/values.preview.template.yaml
  charts/dm-store/values.yaml
  functionalTests/src/functionalTest/resources/bootstrap.yaml
Labels: ns:dm-store-pr-435

#439 Updated URL's for idam & auth service
  charts/dm-store/values.aat.template.yaml
  charts/dm-store/values.yaml
Labels: ns:dm-store-pr-439

#441 disable DB migrate by default in appln.yaml to stop liquibase in aat
  application/src/main/resources/application.yaml
Labels: ns:dm-store-pr-441

#442 Moving to hmcts version of liquibase which performs better DB locking
  application/build.gradle
  application/liquibase.gradle
  application/src/main/java/uk/gov/hmcts/dm/DmApp.java
Labels: ns:dm-store-pr-442

#445 disable DB migrate by default in values
  charts/dm-store/Chart.yaml
Labels: ns:dm-store-pr-445

#446 update Appinsights in build.gradle
  application/build.gradle
Labels: ns:dm-store-pr-446

#454 Save connection strings to dm vault
  charts/dm-store/Chart.yaml
  charts/dm-store/requirements.yaml
  charts/dm-store/values.preview.template.yaml
  infrastructure/main.tf
Labels: ns:dm-store-pr-454
