Repository hmcts/document-management-store-app, pull requests merged in 2020-03, with the labels that each got.

#528 Update javchart
  charts/dm-store/Chart.yaml
  charts/dm-store/requirements.yaml
  config/owasp/dependency-check-suppressions.xml
Labels: ns:dm-store, rel:dm-store-pr-528

#527 EM-2459 Add bulk update endpoint
  application/src/main/java/uk/gov/hmcts/dm/commandobject/DocumentUpdate.java
  application/src/main/java/uk/gov/hmcts/dm/commandobject/UpdateDocumentsCommand.java
  application/src/main/java/uk/gov/hmcts/dm/config/security/SpringSecurityConfiguration.java
  application/src/main/java/uk/gov/hmcts/dm/controller/StoredDocumentUpdateController.java
  application/src/main/java/uk/gov/hmcts/dm/exception/DocumentUpdateException.java
  application/src/main/java/uk/gov/hmcts/dm/service/AuditedStoredDocumentOperationsService.java
  application/src/main/java/uk/gov/hmcts/dm/service/StoredDocumentService.java
  application/src/test/java/uk/gov/hmcts/dm/controller/StoredDocumentControllerUpdateTests.java
  application/src/test/java/uk/gov/hmcts/dm/service/AuditedStoredDocumentOperationsServiceTests.java
  application/src/test/java/uk/gov/hmcts/dm/service/StoredDocumentServiceTests.java
  config/owasp/dependency-check-suppressions.xml
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/UpdateDocumentIT.groovy
Labels: ns:dm-store, rel:dm-store-pr-527

#530 Ensures Azure Storage Account Container is created
  docker-compose-dev.yml
Labels: ns:dm-store, rel:dm-store-pr-530

#544 rename f-test
  charts/dm-store/values.preview.template.yaml
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/MetadataMigrationIT.groovy
Labels: ns:dm-store, rel:dm-store-pr-544

#542 Change the lock mechanism
  application/src/main/java/uk/gov/hmcts/dm/config/batch/BatchConfiguration.java
Labels: ns:dm-store, rel:dm-store-pr-542

#538 Em 2664/partial content requests
  application/build.gradle
  application/src/main/java/uk/gov/hmcts/dm/controller/DocumentContentVersionController.java
  application/src/main/java/uk/gov/hmcts/dm/controller/StoredDocumentController.java
  application/src/main/java/uk/gov/hmcts/dm/controller/testing/TestController.java
  application/src/main/java/uk/gov/hmcts/dm/exception/InvalidRangeRequestException.java
  application/src/main/java/uk/gov/hmcts/dm/hateos/DocumentContentVersionHalResource.java
  application/src/main/java/uk/gov/hmcts/dm/hateos/StoredDocumentHalResource.java
  application/src/main/java/uk/gov/hmcts/dm/service/AuditedDocumentContentVersionOperationsService.java
  application/src/main/java/uk/gov/hmcts/dm/service/BlobStorageReadService.java
  application/src/main/java/uk/gov/hmcts/dm/service/thumbnail/AbstractFileSpecificThumbnailCreator.java
  application/src/test/java/uk/gov/hmcts/dm/controller/DocumentContentVersionControllerTest.java
  application/src/test/java/uk/gov/hmcts/dm/controller/StoredDocumentControllerTests.java
  application/src/test/java/uk/gov/hmcts/dm/controller/testing/TestControllerTest.java
  application/src/test/java/uk/gov/hmcts/dm/endtoend/End2EndTestBase.java
  application/src/test/java/uk/gov/hmcts/dm/endtoend/ThumbnailTest.java
  application/src/test/java/uk/gov/hmcts/dm/endtoend/VersionTest.java
  application/src/test/java/uk/gov/hmcts/dm/security/MultipartFileWhiteListValidatorTests.java
  application/src/test/java/uk/gov/hmcts/dm/service/AuditedDocumentContentVersionOperationsServiceTests.java
  application/src/test/java/uk/gov/hmcts/dm/service/BlobStorageDeleteServiceTest.java
  application/src/test/java/uk/gov/hmcts/dm/service/BlobStorageReadServiceTest.java
  application/src/test/java/uk/gov/hmcts/dm/service/BlobStorageWriteServiceTest.java
  application/src/test/java/uk/gov/hmcts/dm/service/thumbnail/ImageThumbnailCreatorTest.java
  application/src/test/java/uk/gov/hmcts/dm/service/thumbnail/PdfThumbnailCreatorTest.java
  application/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  bin/idam/idam-get-s2s-token.sh
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/BaseIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/MetadataMigrationIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/ReadContentVersionIT.groovy
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:dm-store, rel:dm-store-pr-538

#550 Debug for partial content reading
  application/src/main/java/uk/gov/hmcts/dm/controller/StoredDocumentController.java
  application/src/main/java/uk/gov/hmcts/dm/service/BlobStorageReadService.java
Labels: ns:dm-store, rel:dm-store-pr-550
