Repository hmcts/document-management-store-app, pull requests merged in 2020-01, with the labels that each got.

#488 remove client mime-type check
  application/src/main/java/uk/gov/hmcts/dm/service/FileContentVerifier.java
  application/src/test/java/uk/gov/hmcts/dm/controller/StoredDocumentControllerTests.java
  application/src/test/java/uk/gov/hmcts/dm/service/FileContentVerifierTests.java
  config/owasp/dependency-check-suppressions.xml
Labels: ns:dm-store-pr-488

#489 Increase the readiness time
  charts/dm-store/Chart.yaml
  charts/dm-store/values.preview.template.yaml
  charts/dm-store/values.yaml
Labels: ns:dm-store-pr-489

#483 Shedlock
  .dockerignore
  .gitignore
  Jenkinsfile_CNP
  README.md
  application/build.gradle
  application/src/main/java/uk/gov/hmcts/dm/config/batch/BatchConfiguration.java
  application/src/main/java/uk/gov/hmcts/dm/config/batch/DeleteExpiredDocumentsProcessor.java
  application/src/main/java/uk/gov/hmcts/dm/config/batch/JobConfiguration.java
  application/src/main/java/uk/gov/hmcts/dm/config/batch/RemoveSpringBatchHistoryTasklet.java
  application/src/main/java/uk/gov/hmcts/dm/config/batch/ScheduleConfiguration.java
  application/src/main/resources/application.yaml
  application/src/main/resources/db/changelog/db.changelog-diff-EM-2390-shedlock.xml
  application/src/main/resources/db/changelog/db.changelog-master.xml
  charts/dm-store/values.aat.template.yaml
  charts/dm-store/values.yaml
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/AddContentVersionIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/BaseIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/CreateDocumentIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/DeleteDocumentIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/UpdateDocumentIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/config/FunctionalTestContextConfiguration.groovy
  functionalTests/src/functionalTest/java/uk/gov/hmcts/dm/FunctionalTestContextConfiguration.java
  functionalTests/src/functionalTest/java/uk/gov/hmcts/dm/functional/ToggleConfiguration.java
  functionalTests/src/functionalTest/resources/application-functional-test.properties
  functionalTests/src/functionalTest/resources/application.yml
  infrastructure/main.tf
  settings.gradle
Labels: ns:dm-store-pr-483

#484 Tidy up redundant app config
  application/src/main/resources/application.yaml
  charts/dm-store/values.yaml
  infrastructure/main.tf
Labels: ns:dm-store-pr-484

#495 Revert "Shedlock (#483)"
  .dockerignore
  .gitignore
  Jenkinsfile_CNP
  README.md
  application/build.gradle
  application/src/main/java/uk/gov/hmcts/dm/config/batch/BatchConfiguration.java
  application/src/main/java/uk/gov/hmcts/dm/config/batch/DeleteExpiredDocumentsProcessor.java
  application/src/main/java/uk/gov/hmcts/dm/config/batch/JobConfiguration.java
  application/src/main/java/uk/gov/hmcts/dm/config/batch/RemoveSpringBatchHistoryTasklet.java
  application/src/main/java/uk/gov/hmcts/dm/config/batch/ScheduleConfiguration.java
  application/src/main/resources/application.yaml
  application/src/main/resources/db/changelog/db.changelog-diff-EM-2390-shedlock.xml
  application/src/main/resources/db/changelog/db.changelog-master.xml
  charts/dm-store/values.aat.template.yaml
  charts/dm-store/values.yaml
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/AddContentVersionIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/BaseIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/CreateDocumentIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/DeleteDocumentIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/UpdateDocumentIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/config/FunctionalTestContextConfiguration.groovy
  functionalTests/src/functionalTest/java/uk/gov/hmcts/dm/FunctionalTestContextConfiguration.java
  functionalTests/src/functionalTest/java/uk/gov/hmcts/dm/functional/ToggleConfiguration.java
  functionalTests/src/functionalTest/resources/application-functional-test.properties
  functionalTests/src/functionalTest/resources/application.yml
  infrastructure/main.tf
  settings.gradle
Labels: ns:dm-store, rel:dm-store-pr-495

#502 Performance improvements
  Dockerfile
  application/build.gradle
  application/src/main/java/uk/gov/hmcts/dm/config/azure/AzureStorageConfiguration.java
  application/src/main/java/uk/gov/hmcts/dm/service/BlobStorageDeleteService.java
  application/src/main/java/uk/gov/hmcts/dm/service/BlobStorageMigrationService.java
  application/src/main/java/uk/gov/hmcts/dm/service/BlobStorageReadService.java
  application/src/main/java/uk/gov/hmcts/dm/service/BlobStorageWriteService.java
  application/src/main/resources/application.yaml
  application/src/test/java/uk/gov/hmcts/dm/controller/BlobStorageMigrationControllerTest.java
  application/src/test/java/uk/gov/hmcts/dm/service/BlobCreatorTests.java
  application/src/test/java/uk/gov/hmcts/dm/service/BlobStorageDeleteServiceTest.java
  application/src/test/java/uk/gov/hmcts/dm/service/BlobStorageMigrationServiceTest.java
  application/src/test/java/uk/gov/hmcts/dm/service/BlobStorageReadServiceTest.java
  application/src/test/java/uk/gov/hmcts/dm/service/BlobStorageWriteServiceTest.java
  build.gradle
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/ErrorPageIT.groovy
Labels: ns:dm-store, rel:dm-store-pr-502

#496 Revert "Revert "Shedlock (#483)" (#495)"
  .dockerignore
  .gitignore
  Jenkinsfile_CNP
  README.md
  application/build.gradle
  application/src/main/java/uk/gov/hmcts/dm/config/batch/BatchConfiguration.java
  application/src/main/java/uk/gov/hmcts/dm/config/batch/DeleteExpiredDocumentsProcessor.java
  application/src/main/java/uk/gov/hmcts/dm/config/batch/JobConfiguration.java
  application/src/main/java/uk/gov/hmcts/dm/config/batch/RemoveSpringBatchHistoryTasklet.java
  application/src/main/java/uk/gov/hmcts/dm/config/batch/ScheduleConfiguration.java
  application/src/main/java/uk/gov/hmcts/dm/service/BlobStorageDeleteService.java
  application/src/main/resources/application.yaml
  application/src/main/resources/db/changelog/db.changelog-diff-EM-2390-shedlock.xml
  application/src/main/resources/db/changelog/db.changelog-master.xml
  application/src/test/java/uk/gov/hmcts/dm/service/BlobStorageDeleteServiceTest.java
  charts/dm-store/values.aat.template.yaml
  charts/dm-store/values.yaml
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/AddContentVersionIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/BaseIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/CreateDocumentIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/DeleteDocumentIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/UpdateDocumentIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/config/FunctionalTestContextConfiguration.groovy
  functionalTests/src/functionalTest/java/uk/gov/hmcts/dm/FunctionalTestContextConfiguration.java
  functionalTests/src/functionalTest/java/uk/gov/hmcts/dm/functional/ToggleConfiguration.java
  functionalTests/src/functionalTest/resources/application-functional-test.properties
  functionalTests/src/functionalTest/resources/application.yml
  infrastructure/main.tf
  settings.gradle
Labels: ns:dm-store, rel:dm-store-pr-496

#505 remove transactional annotations
  application/src/main/java/uk/gov/hmcts/dm/DmApp.java
  application/src/main/java/uk/gov/hmcts/dm/config/batch/BatchConfiguration.java
  application/src/main/java/uk/gov/hmcts/dm/service/AuditEntryService.java
  application/src/main/java/uk/gov/hmcts/dm/service/StoredDocumentService.java
  application/src/main/java/uk/gov/hmcts/dm/service/batch/AuditedStoredDocumentBatchOperationsService.java
Labels: ns:dm-store, rel:dm-store-pr-505

#506 Another ttl branch
  .dockerignore
  .gitignore
  Jenkinsfile_CNP
  README.md
  application/build.gradle
  application/src/main/java/uk/gov/hmcts/dm/DmApp.java
  application/src/main/java/uk/gov/hmcts/dm/config/batch/BatchConfiguration.java
  application/src/main/java/uk/gov/hmcts/dm/config/batch/DeleteExpiredDocumentsProcessor.java
  application/src/main/java/uk/gov/hmcts/dm/config/batch/JobConfiguration.java
  application/src/main/java/uk/gov/hmcts/dm/config/batch/RemoveSpringBatchHistoryTasklet.java
  application/src/main/java/uk/gov/hmcts/dm/config/batch/ScheduleConfiguration.java
  application/src/main/java/uk/gov/hmcts/dm/service/AuditEntryService.java
  application/src/main/java/uk/gov/hmcts/dm/service/BlobStorageDeleteService.java
  application/src/main/java/uk/gov/hmcts/dm/service/StoredDocumentService.java
  application/src/main/java/uk/gov/hmcts/dm/service/batch/AuditedStoredDocumentBatchOperationsService.java
  application/src/main/resources/application.yaml
  application/src/main/resources/db/changelog/db.changelog-diff-EM-2390-shedlock.xml
  application/src/main/resources/db/changelog/db.changelog-master.xml
  application/src/test/java/uk/gov/hmcts/dm/service/BlobStorageDeleteServiceTest.java
  charts/dm-store/values.aat.template.yaml
  charts/dm-store/values.yaml
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/AddContentVersionIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/BaseIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/CreateDocumentIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/DeleteDocumentIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/UpdateDocumentIT.groovy
  functionalTests/src/functionalTest/groovy/uk/gov/hmcts/dm/functional/config/FunctionalTestContextConfiguration.groovy
  functionalTests/src/functionalTest/java/uk/gov/hmcts/dm/FunctionalTestContextConfiguration.java
  functionalTests/src/functionalTest/java/uk/gov/hmcts/dm/functional/ToggleConfiguration.java
  functionalTests/src/functionalTest/resources/application-functional-test.properties
  functionalTests/src/functionalTest/resources/application.yml
  infrastructure/main.tf
  settings.gradle
Labels: ns:dm-store, rel:dm-store-pr-506

#508 delete all document versions in parallel
  application/src/main/java/uk/gov/hmcts/dm/service/BlobStorageDeleteService.java
  application/src/main/java/uk/gov/hmcts/dm/service/StoredDocumentService.java
Labels: ns:dm-store, rel:dm-store-pr-508

#509 added migration to clean out batch tables
  application/src/main/resources/db/changelog/db.changelog-diff-EM-2542-clean-batch-tables.xml
  application/src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:dm-store, rel:dm-store-pr-509

#511 EM-2560 remove migration code to fix security issues
  .env
  application/build.gradle
  application/src/main/java/uk/gov/hmcts/dm/config/security/SpringSecurityConfiguration.java
  application/src/main/java/uk/gov/hmcts/dm/controller/BlobStorageMigrationController.java
  application/src/main/java/uk/gov/hmcts/dm/hateos/DocumentContentVersionHalResource.java
  application/src/main/java/uk/gov/hmcts/dm/service/BatchMigrateProgressReport.java
  application/src/main/java/uk/gov/hmcts/dm/service/BatchMigrationAuditEntryService.java
  application/src/main/java/uk/gov/hmcts/dm/service/BatchMigrationTokenService.java
  application/src/main/java/uk/gov/hmcts/dm/service/BlobStorageMigrationService.java
  application/src/main/java/uk/gov/hmcts/dm/service/MigrateProgressReport.java
  application/src/main/java/uk/gov/hmcts/dm/service/RsaPublicKeyReader.java
  application/src/main/resources/application.yaml
  application/src/test/java/uk/gov/hmcts/dm/componenttests/ComponentTestBase.java
  application/src/test/java/uk/gov/hmcts/dm/controller/BlobStorageMigrationControllerTest.java
  application/src/test/java/uk/gov/hmcts/dm/endtoend/End2EndTestBase.java
  application/src/test/java/uk/gov/hmcts/dm/endtoend/VersionTest.java
  application/src/test/java/uk/gov/hmcts/dm/hateos/DocumentContentVersionHalResourceTest.java
  application/src/test/java/uk/gov/hmcts/dm/service/BatchMigrateProgressReportTest.java
  application/src/test/java/uk/gov/hmcts/dm/service/BatchMigrationAuditEntryServiceTest.java
  application/src/test/java/uk/gov/hmcts/dm/service/BatchMigrationTokenServiceTest.java
  application/src/test/java/uk/gov/hmcts/dm/service/BlobStorageMigrationServiceTest.java
  application/src/test/java/uk/gov/hmcts/dm/service/RsaPublicKeyReaderTest.java
  charts/dm-store/Chart.yaml
  charts/dm-store/values.yaml
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  lib/AI-Agent.xml
Labels: ns:dm-store, rel:dm-store-pr-511
