Repository hmcts/document-management-store-app, pull requests merged in 2021-07, with the labels that each got.

#1031 re-ordering security.sh
  security.sh
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-1031

#1018 Fixed Insure binding bug
  src/main/java/uk/gov/hmcts/dm/controller/DocumentContentVersionController.java
  src/main/java/uk/gov/hmcts/dm/controller/FolderController.java
  src/main/java/uk/gov/hmcts/dm/controller/StoredDocumentController.java
  src/main/java/uk/gov/hmcts/dm/controller/StoredDocumentSearchController.java
  src/main/java/uk/gov/hmcts/dm/controller/StoredDocumentUpdateController.java
  src/main/java/uk/gov/hmcts/dm/service/Constants.java
  src/test/java/uk/gov/hmcts/dm/controller/DocumentContentVersionControllerTest.java
  src/test/java/uk/gov/hmcts/dm/controller/FolderControllerTests.java
  src/test/java/uk/gov/hmcts/dm/controller/StoredDocumentControllerTests.java
  src/test/java/uk/gov/hmcts/dm/controller/StoredDocumentSearchControllerTests.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-1018

#1032 Update audit.json
  audit.json
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-1032

#1033 Updated logging and cell index to pick data
  src/main/java/uk/gov/hmcts/dm/config/batch/UpdateDocumentMetaDataTasklet.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-1033

#1034 Updated logging level
  lib/AI-Agent.xml
  src/main/java/uk/gov/hmcts/dm/config/batch/UpdateDocumentMetaDataTasklet.java
  src/main/resources/logback-spring.xml
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-1034

#1016 Fixed log forging issue
  src/main/java/uk/gov/hmcts/dm/security/domain/DomainPermissionEvaluator.java
  src/main/java/uk/gov/hmcts/dm/utils/StringUtils.java
  src/test/java/uk/gov/hmcts/dm/utils/StringUtilsTests.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-1016

#1039 Disable ttl by default
  charts/dm-store/Chart.yaml
  charts/dm-store/values.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/groovy/uk/gov/hmcts/dm/functional/AddContentVersionIT.groovy
  src/functionalTest/groovy/uk/gov/hmcts/dm/functional/CreateDocumentIT.groovy
  src/functionalTest/groovy/uk/gov/hmcts/dm/functional/DeleteDocumentIT.groovy
  src/functionalTest/groovy/uk/gov/hmcts/dm/functional/MetadataMigrationIT.groovy
  src/functionalTest/groovy/uk/gov/hmcts/dm/functional/UpdateDocumentIT.groovy
  src/functionalTest/resources/application.yml
  src/main/resources/application.yaml
  src/smokeTest/resources/application-smoke-test.yaml
  src/test/java/uk/gov/hmcts/dm/controller/StoredDocumentControllerUpdateTests.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-1039

#1035 Enabled bulk metadata update
  src/functionalTest/groovy/uk/gov/hmcts/dm/functional/UpdateDocumentIT.groovy
  src/main/java/uk/gov/hmcts/dm/controller/StoredDocumentUpdateController.java
  src/smokeTest/groovy/uk/gov/hmcts/dm/smoke/MappingUrlIT.groovy
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-1035

#1040 Added in missing AI jar reference
  Dockerfile
  build.gradle
  charts/dm-store/Chart.yaml
  charts/dm-store/values.yaml
  src/main/java/uk/gov/hmcts/dm/config/batch/UpdateDocumentMetaDataTasklet.java
  src/test/java/uk/gov/hmcts/dm/controller/testing/TestControllerTest.java
  src/test/java/uk/gov/hmcts/dm/service/BlobStorageDeleteServiceTest.java
  src/test/java/uk/gov/hmcts/dm/service/BlobStorageReadServiceTest.java
  src/test/java/uk/gov/hmcts/dm/service/BlobStorageWriteServiceTest.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-1040

#1041 Updated MAX_NON_MEDIA_FILE_SIZE
  charts/dm-store/Chart.yaml
  charts/dm-store/values.yaml
  src/contractTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-1041

#1048 Resolved CVE
  build.gradle
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-1048

#1042 Enabled single metadata update
  src/functionalTest/groovy/uk/gov/hmcts/dm/functional/UpdateDocumentIT.groovy
  src/main/java/uk/gov/hmcts/dm/controller/StoredDocumentUpdateController.java
  src/test/java/uk/gov/hmcts/dm/controller/StoredDocumentUpdateControllerTests.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-1042

#1047 Added in Fortify library
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
  src/test/resources/logback.xml
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-1047

#1059 Added in logic for overriding metadata during migration
  charts/dm-store/Chart.yaml
  charts/dm-store/values.yaml
  src/main/java/uk/gov/hmcts/dm/config/ToggleConfiguration.java
  src/main/java/uk/gov/hmcts/dm/config/batch/MetadataMigrationConfiguration.java
  src/main/java/uk/gov/hmcts/dm/service/StoredDocumentService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/dm/service/StoredDocumentServiceTests.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-1059
