Repository hmcts/document-management-store-app, pull requests merged in 2023-05, with the labels that each got.

#1756 EM-5230 avoid CVE-2023-20862
  build.gradle
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-1756

#1750 Updated preview config for integration testing
  charts/dm-store/Chart.yaml
  charts/dm-store/values.preview.template.yaml
  charts/dm-store/values.yaml
Labels: ns:dm-store, prd:dm, Do Not Merge, rel:dm-store-pr-1750

#1759 Removed cmc_claim_store from whitelist
  charts/dm-store/Chart.yaml
  charts/dm-store/values.yaml
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-1759

#1762 Refer to new AppInsights details
  infrastructure/main.tf
Labels: ns:dm-store, prd:dm, add-or-update, rel:dm-store-pr-1762

#1774 DTSPO-13810 reschedule jenkins nightly builds
  Jenkinsfile_nightly
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-1774

#1716 Preview aso blobstorage migration
  charts/dm-store/Chart.yaml
  charts/dm-store/values.preview.template.yaml
  charts/dm-store/values.yaml
Labels: ns:dm-store, prd:dm, no-changes, rel:dm-store-pr-1716
