Repository hmcts/document-management-store-app, pull requests merged in 2024-04, with the labels that each got.

#2212 EM-5940 extend suppression
  build.gradle
  config/owasp/dependency-check-suppressions.xml
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2212

#2215 revert java chart upgrade
  charts/dm-store/Chart.yaml
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2215

#2224 bumping depricated java chart
  charts/dm-store/Chart.yaml
Labels: ns:dm-store, prd:dm, aat/no-changes, rel:dm-store-pr-2224

#2240 Enabling spot instances for lower envs
  charts/dm-store/Chart.yaml
  charts/dm-store/values.yaml
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2240
