Repository hmcts/document-management-store-app, pull requests merged in 2024-09, with the labels that each got.

#2375 Em 6098 reject pw protected files 2
  Jenkinsfile_CNP
  build.gradle
  charts/dm-store/Chart.yaml
  charts/dm-store/values.preview.template.yaml
  charts/dm-store/values.yaml
  src/contractTest/java/uk/gov/hmcts/dm/controller/StoreDocumentControllerTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/dm/functional/BaseIT.java
  src/functionalTest/java/uk/gov/hmcts/dm/functional/MultiMediaUploadIT.java
  src/functionalTest/resources/application.yml
  src/functionalTest/resources/files/pw_protected.pdf
  src/functionalTest/resources/files/pw_protected_docx.docx
  src/main/java/uk/gov/hmcts/dm/commandobject/UploadDocumentsCommand.java
  src/main/java/uk/gov/hmcts/dm/config/ToggleConfiguration.java
  src/main/java/uk/gov/hmcts/dm/security/MultipartFileListPasswordCheck.java
  src/main/java/uk/gov/hmcts/dm/security/MultipartFilePasswordValidator.java
  src/main/java/uk/gov/hmcts/dm/service/FileContentVerifier.java
  src/main/java/uk/gov/hmcts/dm/service/FileSizeVerifier.java
  src/main/java/uk/gov/hmcts/dm/service/PasswordVerifier.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/dm/security/MultipartListPasswordValidatorTest.java
  src/test/java/uk/gov/hmcts/dm/service/PasswordVerifierTest.java
  src/test/resources/files/passwordencryptedprotected.pdf
  src/test/resources/files/pw_protected.pdf
  src/test/resources/files/pw_protected_docx.docx
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2375

#2385 EM-6187 add whitelist for delete endpoint
  charts/dm-store/Chart.yaml
  charts/dm-store/values.aat.template.yaml
  charts/dm-store/values.preview.template.yaml
  charts/dm-store/values.yaml
  src/main/java/uk/gov/hmcts/dm/config/security/DmServiceAuthFilter.java
  src/main/java/uk/gov/hmcts/dm/config/security/EmAuthCheckerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/dm/config/security/DmServiceAuthFilterTest.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2385

#2391 Added in log line
  src/main/java/uk/gov/hmcts/dm/service/PasswordVerifier.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2391

#2393 default enable DELETE endpoint for em_gw
  charts/dm-store/Chart.yaml
  charts/dm-store/values.aat.template.yaml
  charts/dm-store/values.preview.template.yaml
  charts/dm-store/values.yaml
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2393
