Repository hmcts/document-management-store-app, pull requests merged in 2024-05, with the labels that each got.

#2244 Code smell fixes part 1
  src/main/java/uk/gov/hmcts/dm/controller/DocumentContentVersionController.java
  src/main/java/uk/gov/hmcts/dm/controller/StoredDocumentAuditController.java
  src/main/java/uk/gov/hmcts/dm/controller/StoredDocumentDeleteController.java
  src/main/java/uk/gov/hmcts/dm/security/MultipartFileListWhiteListValidator.java
  src/main/java/uk/gov/hmcts/dm/security/MultipartFileSizeValidator.java
  src/main/java/uk/gov/hmcts/dm/security/PermissionEvaluatorImpl.java
  src/main/java/uk/gov/hmcts/dm/security/domain/DomainPermissionEvaluator.java
  src/main/java/uk/gov/hmcts/dm/service/BlobStorageDeleteService.java
  src/main/java/uk/gov/hmcts/dm/service/SearchService.java
  src/main/java/uk/gov/hmcts/dm/service/SecurityUtilService.java
  src/main/java/uk/gov/hmcts/dm/service/StoredDocumentService.java
  src/test/java/uk/gov/hmcts/dm/config/batch/OrphanDocumentDeletionTaskTest.java
  src/test/java/uk/gov/hmcts/dm/controller/DocumentContentVersionControllerTest.java
  src/test/java/uk/gov/hmcts/dm/controller/StoredDocumentDeleteControllerTest.java
  src/test/java/uk/gov/hmcts/dm/controller/StoredDocumentDeleteControllerTests.java
  src/test/java/uk/gov/hmcts/dm/utils/InputParamsVerifierTest.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2244

#2245 Code smell fixes part 2
  src/main/java/uk/gov/hmcts/dm/controller/StoredDocumentController.java
  src/main/java/uk/gov/hmcts/dm/controller/StoredDocumentDeleteController.java
  src/main/java/uk/gov/hmcts/dm/controller/StoredDocumentSearchController.java
  src/main/java/uk/gov/hmcts/dm/controller/StoredDocumentUpdateController.java
  src/main/java/uk/gov/hmcts/dm/controller/testing/TestController.java
  src/main/java/uk/gov/hmcts/dm/security/PermissionEvaluatorImpl.java
  src/main/java/uk/gov/hmcts/dm/security/domain/DomainPermissionEvaluator.java
  src/main/java/uk/gov/hmcts/dm/service/AuditedDocumentContentVersionOperationsService.java
  src/main/java/uk/gov/hmcts/dm/service/BlobStorageReadService.java
  src/main/java/uk/gov/hmcts/dm/service/DocumentContentVersionService.java
  src/main/java/uk/gov/hmcts/dm/service/FileSizeVerifier.java
  src/main/java/uk/gov/hmcts/dm/service/SearchService.java
  src/main/java/uk/gov/hmcts/dm/service/StoredDocumentService.java
  src/main/java/uk/gov/hmcts/dm/service/batch/AuditedStoredDocumentBatchOperationsService.java
  src/main/java/uk/gov/hmcts/dm/service/batch/DeleteAllExpiredStoredDocumentTasklet.java
  src/test/java/uk/gov/hmcts/dm/controller/StoredDocumentControllerTests.java
  src/test/java/uk/gov/hmcts/dm/controller/StoredDocumentSearchControllerTests.java
  src/test/java/uk/gov/hmcts/dm/errorhandler/ExceptionStatusCodeAndMessageResolverTest.java
  src/test/java/uk/gov/hmcts/dm/security/PermissionEvaluatorImplTests.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2245

#2246 Code smells part 3
  src/main/java/uk/gov/hmcts/dm/security/MultipartFileListWhiteListValidator.java
  src/main/java/uk/gov/hmcts/dm/service/FileSizeVerifier.java
  src/main/java/uk/gov/hmcts/dm/service/SearchService.java
  src/test/java/uk/gov/hmcts/dm/security/domain/DomainPermissionEvaluatorTests.java
  src/test/java/uk/gov/hmcts/dm/service/StoredDocumentServiceTests.java
  src/test/java/uk/gov/hmcts/dm/utils/StringUtilsTests.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2246

#2247 EM 5920 code smells part 4
  src/contractTest/java/uk/gov/hmcts/dm/controller/StoreDocumentControllerTestConfiguration.java
  src/main/java/uk/gov/hmcts/dm/security/MultipartFileSizeMinValidator.java
  src/main/java/uk/gov/hmcts/dm/security/MultipartFileSizeValidator.java
  src/main/java/uk/gov/hmcts/dm/security/MultipartFileWhiteListValidator.java
  src/main/java/uk/gov/hmcts/dm/service/AuditEntryService.java
  src/main/java/uk/gov/hmcts/dm/service/AuditedStoredDocumentOperationsService.java
  src/main/java/uk/gov/hmcts/dm/service/StoredDocumentService.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2247

#2250 Disabled Spot instances
  charts/dm-store/Chart.yaml
  charts/dm-store/values.yaml
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2250

#2253 Code smells part 5 - final smells
  src/main/java/uk/gov/hmcts/dm/controller/testing/TestController.java
  src/main/java/uk/gov/hmcts/dm/security/domain/DomainPermissionEvaluator.java
  src/main/java/uk/gov/hmcts/dm/service/BlobStorageDeleteService.java
  src/main/java/uk/gov/hmcts/dm/service/StoredDocumentService.java
  src/test/java/uk/gov/hmcts/dm/actuate/health/WebCheckerTest.java
  src/test/java/uk/gov/hmcts/dm/security/domain/DomainPermissionEvaluatorTests.java
  src/test/java/uk/gov/hmcts/dm/service/SearchServiceTests.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2253

#2254 Extended the suppression date
  config/owasp/dependency-check-suppressions.xml
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2254

#2257 testing healthcheck in pipeline, made webcheckertest default, removed…
  src/main/java/uk/gov/hmcts/dm/actuate/health/WebChecker.java
  src/test/java/uk/gov/hmcts/dm/actuate/health/WebCheckerTest.java
  src/test/java/uk/gov/hmcts/dm/controller/HealthControllerTests.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2257

#2275 Revert "Update Terraform azurerm to ~> 3.105.0"
  infrastructure/state.tf
Labels: ns:dm-store, prd:dm, aat/no-changes, prod/no-changes, rel:dm-store-pr-2275

#2278 Update Terraform azurerm to ~> 3.105.0
  infrastructure/state.tf
Labels: ns:dm-store, prd:dm, aat/no-changes, prod/no-changes, rel:dm-store-pr-2278
