Repository hmcts/document-management-store-app, pull requests merged in 2025-09, with the labels that each got.

#2859 Updated error msg in logs
  src/main/java/uk/gov/hmcts/dm/service/PasswordVerifier.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2859

#2870 remove redundant error formatting
  src/main/java/uk/gov/hmcts/dm/controller/DocumentContentVersionController.java
  src/main/java/uk/gov/hmcts/dm/controller/StoredDocumentController.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2870

#2904 Update staging memory
  charts/dm-store/values.aat.template.yaml
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2904
