Repository hmcts/document-management-store-app, pull requests merged in 2025-02, with the labels that each got.

#2577 move report location
  Jenkinsfile_CNP
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2577

#2587 remove feature flag
  charts/dm-store/Chart.yaml
  charts/dm-store/values.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/perftest.tfvars
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/variables.tf
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yml
  src/main/java/uk/gov/hmcts/dm/controller/StoredDocumentDeleteController.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/dm/smoke/MappingUrlIT.java
  src/smokeTest/resources/application-smoke-test.yaml
  src/test/resources/application-local.yaml
Labels: ns:dm-store, prd:dm, aat/no-changes, prod/no-changes, rel:dm-store-pr-2587

#2588 remove feature flag
  Jenkinsfile_CNP
  charts/dm-store/Chart.yaml
  charts/dm-store/values.preview.template.yaml
  charts/dm-store/values.yaml
  src/contractTest/java/uk/gov/hmcts/dm/controller/StoreDocumentControllerTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/dm/functional/MultiMediaUploadIT.java
  src/functionalTest/resources/application.yml
  src/main/java/uk/gov/hmcts/dm/config/ToggleConfiguration.java
  src/main/java/uk/gov/hmcts/dm/service/PasswordVerifier.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/dm/service/PasswordVerifierTest.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2588

#2599 Update StoredDocumentRepository.java
  src/main/java/uk/gov/hmcts/dm/repository/StoredDocumentRepository.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2599

#2602 prevent calling delete for null content versions
  src/main/java/uk/gov/hmcts/dm/service/StoredDocumentService.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2602

#2603 Added in missing entity class
  src/main/java/uk/gov/hmcts/dm/domain/MigrateContentAuditEntry.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2603

#2606 Updated log level to debug
  src/main/java/uk/gov/hmcts/dm/controller/StoredDocumentController.java
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2606

#2609 set log level for font to error
  src/main/resources/application.yaml
Labels: ns:dm-store, prd:dm, rel:dm-store-pr-2609

#2574 add controller advice
  src/functionalTest/java/uk/gov/hmcts/dm/functional/ErrorPageIT.java
  src/functionalTest/java/uk/gov/hmcts/dm/functional/ReadDocumentIT.java
  src/main/java/uk/gov/hmcts/dm/commandobject/UploadDocumentsCommand.java
  src/main/java/uk/gov/hmcts/dm/errorhandler/ApiErrorController.java
  src/main/java/uk/gov/hmcts/dm/errorhandler/ExceptionTranslator.java
  src/test/java/uk/gov/hmcts/dm/errorhandler/ExceptionTranslatorTest.java
Labels: ns:dm-store, prd:dm, enable_keep_helm, rel:dm-store-pr-2574
